<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <style>
                body {
            padding: 0;
            margin: 0;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        main {
            padding: 1rem;
        }
        .signup-form {
            width: 32rem;
            max-width: 90%;
            margin:auto;
        }
    </style>
</head>
<body>
    <main>
        <form class="signup-form" action="/signUp" method="POST">
            <h1>SignUp Page</h1>
            <table>
                <tr>
                    <td><label>FirstName</label></td>
                    <td><input type="text" name="firstName" placeholder="Enter First Name Here"></td>
                </tr>
                <tr>
                    <td><label>LastName</label></td>
                    <td><input type="text" name="lastName" placeholder="Enter Last Name Here"></td>
                </tr>
                <tr>
                    <td><label>Email</label></td>
                    <td><input type="email" name="email" placeholder="Enter Email Here"></td>
                </tr>
                <tr>
                    <td><label>Password</label></td>
                    <td><input type="password" name="password" placeholder="Enter password Here"></td>
                </tr>
                <tr>
                    <td><label>Gender Please Choose One:</label></td>
                </tr>
                <tr>
                    <td><label>Male</label></td>
                    <td><input type="radio" id="male" name="gender" value="male"></td>
                </tr>
                <tr>
                    <td><label>Female</label></td>
                    <td><input type="radio" id="female" name="gender" value="female"></td>
                </tr>
                <tr>
                    <td><label>Other</label></td>
                    <td><input type="radio" id="other" name="gender" value="other"></td>
                </tr>
                <tr>
                    <td><label>Preference:</label></td>
                </tr>
                <tr>
                    <td><label>Male</label></td>
                    <td><input type="checkbox" id="pmale" name="pmale" value="pmale"></td>
                </tr>
                <tr>
                    <td><label>Female</label></td>
                    <td><input type="checkbox" id="pmale" name="pmale" value="pmale"></td>
                </tr>
                <tr>
                    <td><label>Other</label></td>
                    <td><input type="checkbox" id="pmale" name="pmale" value="pmale"></td>
                </tr>
                <tr>
                    <td><label>Interests:</label></td>
                </tr>
                <tr>
                    <td><label>Running</label></td>
                    <td><input type="checkbox" id="running" name="running" value="#running"></td>
                </tr>
                <tr>
                    <td><label>Fishing</label></td>
                    <td><input type="checkbox" id="fishing" name="fishing" value="#fishing"></td>
                </tr>
                <tr>
                    <td><label>Gaming</label></td>
                    <td><input type="checkbox" id="gaming" name="gaming" value="#gaming"></td>
                </tr>
                <tr>
                    <td><label>Movies</label></td>
                    <td><input type="checkbox" id="movies" name="movies" value="#movies"></td>
                </tr>
                <tr>
                    <td><label>Sports</label></td>
                    <td><input type="checkbox" id="sports" name="sports" value="#sports"></td>
                </tr>
            </table>
            <button>Submit</button>
        </form>
        </main>
    </body>
    </html>